{% extends 'cities_news/base.html' %}
{% load staticfiles %}

{% block highlight %}
<body class="homepage {{ city.title | lower }}">
{% endblock %}

{% block body_block %}
    <section>
      <div class="container">
        <div class="row top-row">
          <div class="col-md-6 col-sm-12">
          {% if city.video %}  
            <div class="push">
              <iframe id="youplayer" width="555" height="308" src="{{city.video_url}}?enablejsapi=1&theme=light&color=white&modestbranding=1&showinfo=0&rel=0&playsinline=0&controls=2" frameborder="0"  allowfullscreen></iframe>
            </div>
          {% else %}
            <a href="{{city.title}}/{{first_news.slug}}" class="link">
            <div class="push">
              
              	<img src="{{first_news.image.url}}" class="push-img" />
                <img src="{% static 'cities_news/images/shadow.png' %}" class="shadow-img" />
              
              <div class="block clearfix">
                <h6>{{first_news.created_date|date:"d-m-Y"}}</h6>
                <p>
                  {{first_news.title}}
                </p>
              </div>
            </div>
            </a>
          {% endif %}
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="stand">
              <div class="inthemid">
              <p class="intext">{{"Vrij studeren is grenzeloos studeren"|upper}}</p>
              <p>{{"Het beste rendement voor de student"|upper}}</p>
              <p>{{"Geen bindend studieadvies, maar persoonlijke begeleiding"|upper}}</p>
              <p>{{"Omdat studenten échte medezeggenschap verdienen"|upper}}</p>
              <p>{{"Alle hoorcolleges op YouTube"|upper}}</p>
              <p>{{"Kennis is niet uit te drukken in geld"|upper}}</p>
              <p>{{"Colleges kijken. Altijd. Overal"|upper}}</p>
              <p>{{"Studieadvies. Van bindend naar persoonlijk"|upper}}</p>
              <p>{{"Werkgroepen: maximaal 25 studenten"|upper}}</p>
              <p>{{"Voor de student die er voor gaat"|upper}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="kaart">
              <h6>{{ city.title | upper }}</h6>
              <img src="{% static 'cities_news/images/kaart.png' %}" />
              <div class="dotc dotc2" onclick="">
                <a class="circleclick" href="/amsterdam">
                <div class="kaccircle">
                </div>
                </a>
                <a href="/amsterdam">
                <span class="tooltip tooltip-effect-1">
                  
                  <span class="tooltip-content clearfix">
                    <strong>De Vrije Student</strong> Amsterdam
                  </span>
                </span>
                </a>
              </div>
              
              <div class="dotc dotc4" onclick="">
                <a href="/nijmegen" class="circleclick">
                <div class="kaccircle">
                </div>
                </a>
                <a href="/nijmegen">
                <span class="tooltip tooltip-effect-1">
                  
                  <span class="tooltip-content clearfix">
                    <strong>De Vrije Student</strong> Nijmegen
                  </span>
                </span>
                </a>
              </div>
              
              
              <div class="dotc dotc5" onclick="">
              <a href="/rotterdam" class="circleclick">
              <div class="kaccircle">
              </div>
              </a>
              <a href="/rotterdam">
                <span class="tooltip tooltip-effect-1">
                  
                  <span class="tooltip-content clearfix">
                    <strong>De Vrije Student</strong> Rotterdam
                  </span>
                </span>
              </a>  
              </div>
            </div>
          </div>
        </div>
      
        <div class="row bottom-row clearfix">
          <div class="col-md-6">
            <div class="row clearfix">
            {% if city.video %}
              {% for news in latest_news|slice:":3" %}
                <div class="col-md-4">
                  <div class="nieuws">
                    <!-- <img src="{% static 'cities_news/images/nieuws.png' %}" class="nieuws-foto"> -->
                    <img src="{{ news.image.url }}" class="nieuws-foto img-responsive">
                    <div class="nieuws-text">
                      <p class="date">{{ news.created_date | date:"d-m-Y"}}</p>
                      <p class="title">{{ news.title }}</p>
                      <p id="clampjs" class="text">{{ news.text|truncatechars:94 }}</p>
                    </div>
                    <a href="{{city.title}}/{{news.slug}}" class="link">
                      <div class="stripe-hover">
                        <div class="stripe">Lees meer<span> ></span>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              {% for news in latest_news|slice:"1:" %}
                <div class="col-md-4">
                  <div class="nieuws">
                    <!-- <img src="{% static 'cities_news/images/nieuws.png' %}" class="nieuws-foto"> -->
                    <img src="{{ news.image.url }}" class="nieuws-foto img-responsive">
                    <div class="nieuws-text">
                      <p class="date">{{ news.created_date | date:"d-m-Y"}}</p>
                      <p class="title">{{ news.title }}</p>
                      <p id="clampitem" class="text">{{ news.text|truncatechars:94 }}</p>
                    </div>
                    <a href="{{city.title}}/{{news.slug}}" class="link">
                      <div class="stripe-hover">
                        <div class="stripe">Lees meer<span> ></span>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
            </div>
          </div>
          
          <div class="col-md-3 socialcol">
            <a href="{{city.facebook}}">
            <div class="social">
              <h5>VOLG ONS OP FACEBOOK</h5>
              <br />
              <span>voor meer berichten</span>
              <img src="{% static 'cities_news/images/facebook.png' %}" class="faceimg" >
              <img src="{% static 'cities_news/images/arrow.png' %}" class="arrowimg" >
              

            </div>
            </a>
            
            <div class="social-line"></div>
            
            <a href="{{city.twitter}}">
            <div class="social">
              <h5>VOLG ONS OP TWITTER</h5>
              <br />
              <span>en blijf op de hoogte</span>
              <img src="{% static 'cities_news/images/twitter.png' %}" class="twitterimg">
              <img src="{% static 'cities_news/images/arrow.png' %}" class="arrowimg" >
            </div>
            </a>
            
            <div class="social-line"></div>
          
            <a href="{{city.youtube}}">
            <div class="social">
              <h5>VOLG ONS OP YOUTUBE</h5>
              <br />
              <span>en bekijk alle video's</span>
              <img src="{% static 'cities_news/images/youtube.png' %}" class="youimg">
              <img src="{% static 'cities_news/images/arrow.png' %}" class="arrowimg" >
            </div>
            </a>
          
          </div>

          <div class="col-md-3">
            <div class="mensen">
              <ul class="boxslider">
              {% for mens in mensen %}
                <li>
                    <img src="{{ mens.image.url }}" class="mensenimg" />
                </li>
              {% endfor %}
              </ul>

              {% for mens in mensen %}
              <div class="mensen-text">
                <h5>{{ mens.name }}</h5>
                <span class="mensentext-title">{{ mens.title}}</span>
                <p class="mensentext-p">{{ mens.text }}</p>
                <p><span class="mensentext-email">{{mens.email}}</span>
                {{ mens.phone }}
                </p>
              </div>
              {% endfor %}
              
              <a href="/{{city.title}}/mensen" class="link">
                <div class="stripe-hover">
                <div class="stripe">Bekijk de lijst<span> ></span>
                </div></div>
              </a>
        
            </div>
          </div>
        </div>
      </div>
    </section>
    
{% endblock %}
