{% extends 'cities_news/base.html' %}
{% load staticfiles %}

{% block highlight %}
<body class="contactpage {{ city.title | lower }}">
{% endblock %}

{% block body_block %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="nieuws-top">CONTACT | <span>DE VRIJE STUDENT {{ city.title | upper}}</span>
                </div>
                <!-- <div id="map-canvas"></div> -->
                <div class="contactpage-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4903.935888984575!2d4.320220060276664!3d52.080313401246855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b73d372aa1cd%3A0x17f9a6260e4341ca!2sHerengracht+32%2C+2511+EJ+Den+Haag%2C+Netherlands!5e0!3m2!1sen!2s!4v1429034980070" width="835" height="430" frameborder="0" style="border:0"></iframe>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="bezoek">
                            <h5>Bezoekadres</h5>
                            <p>Surinamplein 135 <br/>
                            1058GM, Amsterdam</p>
                        </div>
                        
                    </div>
                    <div class="col-md-4">
                        <div class="bezoek">
                            <h5>Postadres</h5>
                            <p>Postbus 34556665 <br/>
                            1058GM, Amsterdam</p>
                        </div>
                        
                    </div>
                    <div class="col-md-4">
                        <div class="bezoek">
                            <h5>Telefoonnummer</h5>
                            <p>020-1234556</p>
                        </div>
                        
                    </div>
                </div>
     
            </div>
            <div class="col-md-3">
            <div class="kaart sidebarkaart">
              <img src="{% static 'cities_news/images/kaart.png' %}" class="img-responsive ned" />
              <h6>KIES JE STAD</h6>
              
             <!--  <a href="/leeuwarden">
              <span class="tooltip tooltip-effect-1 circle1">
               
                <img src="{% static 'cities_news/images/circle.png' %}" class="img-responsive circle" />
                <span class="tooltip-content clearfix">
                <strong>De Vrije Student</strong> Leeuwarden
                </span>
              </span>
              </a> -->
              

              <a href="/amsterdam">
              <span class="tooltip tooltip-effect-1 circle2">
                <img src="{% static 'cities_news/images/circle.png' %}" class="img-responsive circle" />
                <span class="tooltip-content clearfix">
                <strong>De Vrije Student</strong> Amsterdam
                </span>
              </span>
              </a>

              <a href="/nijmegen">
              <span class="tooltip tooltip-effect-1 circle3">
                <img src="{% static 'cities_news/images/circle.png' %}" class="img-responsive circle" />
                <span class="tooltip-content clearfix">
                <strong>De Vrije Student</strong> Nijmegen
                </span>
              </span>
              </a>


             <!--  <a href="/utrecht">
              <span class="tooltip tooltip-effect-1 circle4">
                <img src="{% static 'cities_news/images/circle.png' %}" class="img-responsive circle" />
                <span class="tooltip-content clearfix">
                <strong>De Vrije Student</strong> Utrecht
                </span>
              </span>
              </a> -->

              <a href="/rotterdam">
              <span class="tooltip tooltip-effect-1 circle5">
                <img src="{% static 'cities_news/images/circle.png' %}" class="img-responsive circle" />
                <span class="tooltip-content clearfix">
                <strong>De Vrije Student</strong> Rotterdam
                </span>
              </span>
              </a>

             <!--  <a href="/eindhoven">
              <span class="tooltip tooltip-effect-1 circle6">
                <img src="{% static 'cities_news/images/circle.png' %}" class="img-responsive circle" />
                <span class="tooltip-content clearfix">
                <strong>De Vrije Student</strong> Eindhoven
                </span>
              </span>
              </a> -->

              <!-- <a href="/maastricht">
              <span class="tooltip tooltip-effect-1 circle7">
                <img src="{% static 'cities_news/images/circle.png' %}" class="img-responsive circle" />
                <span class="tooltip-content clearfix">
                <strong>De Vrije Student</strong> Maastricht
                </span>
              </span>
              </a>
            </div> -->
            <div class="socialcol">
                <a href="">
            <div class="social">
              <h5>VOLG ONS OP FACEBOOK</h5>
              <br />
              <span>Ut euismod ex quis</span>
              <img src="{% static 'cities_news/images/facebook.png' %}" class="faceimg" >
              <img src="{% static 'cities_news/images/arrow.png' %}" class="arrowimg" >
            </div>
            </a>
            
            <div class="social-line"></div>
            
            <a href="">
            <div class="social">
              <h5>VOLG ONS OP TWITTER</h5>
              <br />
              <span>Ut euismod ex quis</span>
              <img src="{% static 'cities_news/images/twitter.png' %}" class="twitterimg">
              <img src="{% static 'cities_news/images/arrow.png' %}" class="arrowimg" >
            </div>
            </a>
            
            <div class="social-line"></div>
          
            <a href="">
            <div class="social">
              <h5>VOLG ONS OP YOUTUBE</h5>
              <br />
              <span>Ut euismod ex quis</span>
              <img src="{% static 'cities_news/images/youtube.png' %}" class="youimg">
              <img src="{% static 'cities_news/images/arrow.png' %}" class="arrowimg" >
            </div>
            </a>
            </div>
        </div>

        </div>
    </div>
</section>
{% endblock %}