{% extends 'cities_news/base.html' %}
{% load staticfiles %}

{% block highlight %}
<body class="nieuwspage {{ city.title | lower }}">
{% endblock %}

{% block body_block %}
<section>
  <div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="nieuws-top">NIEUWS | <span>DE VRIJE STUDENT {{ city.title | upper }}</span></div>
            {% for news in latest_news %}
            <div class="nieuwsartikel">
                <div class="nieuwsdatum">12-02-2015</div>
                <div class="nieuwstitel">
                     At tale dicit congue eam, pri possim delenit ea.
                </div>
                <div class="artikelfoto">
                    <img src="{{ news.image.url}}" width="100%" height="100%" class="img-responsive">
                </div>
                <div class="nieuwstext">
                    <p>{{ news.text | linebreaks }}</p>
                </div>
                <div class="delen">
                    <img src="{% static 'cities_news/images/delen.png' %}">
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <div class="kaart sidebarkaart">
              <img src="{% static 'cities_news/images/kaart.png' %}" class="img-responsive ned" />
              <h6>{{ city.title | upper }}</h6>
              
              <!-- <a href="/leeuwarden">
              <span class="tooltip tooltip-effect-1 circle1">
               
                <img src="{% static 'cities_news/images/circle.png' %}" class="img-responsive circle" />
                <span class="tooltip-content clearfix">
                <strong>De Vrije Student</strong> Leeuwarden
                </span>
              </span>
              </a> -->
              

              <a href="/amsterdam">
              <span class="tooltip tooltip-effect-1 circle2">
                <img src="{% static 'cities_news/images/circle.png' %}" class="img-responsive circle" />
                <span class="tooltip-content clearfix">
                <strong>De Vrije Student</strong> Amsterdam
                </span>
              </span>
              </a>

              <a href="/nijmegen">
              <span class="tooltip tooltip-effect-1 circle3">
                <img src="{% static 'cities_news/images/circle.png' %}" class="img-responsive circle" />
                <span class="tooltip-content clearfix">
                <strong>De Vrije Student</strong> Nijmegen
                </span>
              </span>
              </a>


              <!-- <a href="/utrecht">
              <span class="tooltip tooltip-effect-1 circle4">
                <img src="{% static 'cities_news/images/circle.png' %}" class="img-responsive circle" />
                <span class="tooltip-content clearfix">
                <strong>De Vrije Student</strong> Utrecht
                </span>
              </span>
              </a> -->

              <a href="/rotterdam">
              <span class="tooltip tooltip-effect-1 circle5">
                <img src="{% static 'cities_news/images/circle.png' %}" class="img-responsive circle" />
                <span class="tooltip-content clearfix">
                <strong>De Vrije Student</strong> Rotterdam
                </span>
              </span>
              </a>

             <!--  <a href="/eindhoven">
              <span class="tooltip tooltip-effect-1 circle6">
                <img src="{% static 'cities_news/images/circle.png' %}" class="img-responsive circle" />
                <span class="tooltip-content clearfix">
                <strong>De Vrije Student</strong> Eindhoven
                </span>
              </span>
              </a> -->

              <!-- <a href="/maastricht">
              <span class="tooltip tooltip-effect-1 circle7">
                <img src="{% static 'cities_news/images/circle.png' %}" class="img-responsive circle" />
                <span class="tooltip-content clearfix">
                <strong>De Vrije Student</strong> Maastricht
                </span>
              </span>
              </a>
            </div> -->
            <div class="socialcol">
                <a href="">
            <div class="social">
              <h5>VOLG ONS OP FACEBOOK</h5>
              <br />
              <span>Ut euismod ex quis</span>
              <img src="{% static 'cities_news/images/facebooksocial.png' %}" class="faceimg" >
            </div>
            </a>
            
            <div class="social-line"></div>
            
            <a href="">
            <div class="social">
              <h5>VOLG ONS OP TWITTER</h5>
              <br />
              <span>Ut euismod ex quis</span>
              <img src="{% static 'cities_news/images/twittersocial.png' %}" class="twitterimg">
            </div>
            </a>
            
            <div class="social-line"></div>
          
            <a href="">
            <div class="social">
              <h5>VOLG ONS OP YOUTUBE</h5>
              <br />
              <span>Ut euismod ex quis</span>
              <img src="{% static 'cities_news/images/youtubesocial.png' %}" class="youtubeimg">
            </div>
            </a>
            </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}